.Order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    background-color: #fff;
    width: 95%;
    margin: auto;
  margin-top: -10%;
position: relative;
padding: 20px 40px;
border-radius: 10px;
}
.order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #8a2b06;
    border-radius: 4px;
    outline-color: #8a2b06;
}
.order-fields{
    display: flex;
    gap: 10px;
}
.order-right{
    width: 100%;
    max-width: max(40%, 500px);
}
.orderTotal{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}
.order-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.orderTotal hr{
    margin: 10px 0px;

}
.orderTotal button, .button{
    border: none;
    color: white;
    background-color: #8a2b06;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

@media(max-width:600px){
    .Order{
        flex-direction: column;
    }
}