.mealDisplay{
  margin-top: 30px;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.mealDisplay h1{
  font-size: max(2vw, 24px);
  font-weight: 600;
}
.mealDisplay-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
.mealItem{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 10px 10px #00000015;
  height: 100%;
}
.mealItem-img{
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.mealItem-info{
  padding: 20px;
}
.mealItem-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.mealItem-name p{
  font-size: 20px;
  font-weight: 600;
}
.mealItem-name img{
  width: 70px;
}
.mealItem-desc{
  color: #676767;
  font-size: 13px;
}
.mealItem-price{
  color: #8a2b06;
  font-size: 22px;
  font-weight: 600;
  font-family:'Noto Sans JP', sans-serif ;
  margin: 10px 0px;
}
.mealItem-imgConatainer{
  position: relative;
}
.mealItem-imgConatainer .add{
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 18px;
}
.foodItem-counter{
position: absolute;
bottom: 15px;
right: 15px;
display: flex;
align-items: center;
gap: 10px;
padding: 6px;
border-radius: 50px;
background-color: #fff;
}
.foodItem-counter img{
  width: 30px;
}

@media(max-width:900px){

  .mealDisplay{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .mealDisplay-list{
 margin-top: 20px;
    gap: 20px;
    row-gap: 40px;
  }

  .mealItem-price{
    font-size: 18px;
    margin: 5px 0px;
  }

  .foodItem-counter{
  padding: 4px;
  }
  .foodItem-counter img{
    width: 20px;
  }
}
@media(max-width:600px){

  .mealItem-imgConatainer .add{
    width: 45px;
    height: 45px;
    font-size: 24px;
  }
 

  .mealItem-price{
    font-size: 20px;
    margin: 10px 0px;
  }

  .foodItem-counter{
  padding: 5px;
  }
  .foodItem-counter img{
    width: 30px;
  }
}

