.contactDiv{
    width: 100%;
    margin: auto;
    background-color: #fff;
    height: 70vh;
    margin-top: -5%;
    position: relative;
}

.contact-form{
    background-color: #8a2b06;
   width: 50%;
   position: absolute;
    top: -10%;
    left: 25%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.form-group label{
    color: #fff;
    font-size: 18px;
    width: 30%;
    font-weight: 600;
}
.form-group input{
    width: 100%;
    height: 3rem;
    font-size: 16px;
    padding: 5px;
}
.form-group textarea{
    width: 100%;
    height: 8rem;
    font-size: 16px;
    padding: 5px;
}
.submitBtn{
    width: 40%;
    height: 3rem;
    font-size: 18px;
    font-weight: 600;
    color: #8a2b06;
    align-self: flex-end;
    background-color: #FFB38E;
    border: none;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.contact-form h2{
    color: aliceblue;
}

@media(max-width:1024px){
    .contact-form{
        width: 70%;
        left: 15%;
    }
}
@media(max-width:800px){
    .contact-form{
        width: 90%;
        left: 5%;
    }
}
@media(max-width:500px){
   .contact-form form{
    width: 100%;
   }
   .contact-form{
    width: 95%;
left: 3%;
padding: 15px;
   }
}
